/*Aqui va el tamaño y color del encabezado*/
header{
	width: 100%;
	height: 100px;
	background-color: #000054 ;
	color: ghostwhite;
}
/*Color del cuerpo*/
body{
	background-color: #4fafff  ;
}
/*Da color y tamaño a la seccion del nav*/
#uno{
	width: 100%;
	height: 50px;
	background-color: #110973 ;
	border-radius: 15%;
}

#aside{
	font-family: arial;
	margin: 30px 20px ;
	width: 50%;
	height: 300px;
	background-color: ghostwhite;
}
/*Da estructura y tipo de lista el contenido del nav*/
nav ul{
	width: 100%;
	list-style-type: none;
	text-align: center;

}

nav li{
	display: inline-flex;
}

nav a{

	color: white;
	padding: 10px;
	width: 150px;
}

p{ /*Da el estilo de texto a todos los formatos "p"*/
	font-family:"Times New Roman", Times, serif;
}

footer{ /*Da  tamaño y color al pie de pagina*/
	width: 100%;
	height: 400px;
	background-color: #000054 ; 
}

#map{ /*Tamaño del mapa*/
	width:400px;
	height: 300px;
	margin: 50px;
}

#f{
	text-align: center;
}

#foto{
	background-color:;
	ite
}

section{ /*da orden a el contenido de la cabecera*/
	display: inline-flex;
}

*{box-sizing:border-box;}

		.container{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
		}

		.social{
			/*las imágenes usadas tienen width de 48px*/
			width:48px;
			position:fixed;
			top:50px;
			right:0;
		}

		/* Extra centrado vertical*/

		.social{
			/*border:1px solid #000;*/
			top:50%;
			height:205px;
			/*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
			margin-top:-100px;
		}