/*Aqui va el tamaño y color del encabezado*/
header{
	width: 100%;
	height: 100px;
	background-color: #000054 ;
	color: ghostwhite;
	border:3px solid orangered;
	border-radius:22px;
}
/*Color del cuerpo*/
body{
	background-color:white ;
	margin: 0 ;
}

.image-grid{
 --gap: 16px ;
 --nums-cols: 4 ;
--row-height: 300px;

box-sizing: border-box;
padding: var(--gap);

display: grid;
grid-template-columns: repeat(var(--nums-cols), 1fr);
grid-auto-rows: var(--row-height) ;
gap: var(--gap);
}
.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.image-grid-col-2 {
	grid-column: span 2;
    }


	.image-grid-row-2 {
		grid-row: span 2;
		}
	
		


@media screen  and (max-width:1024px){
	.image-grid > img {
       --num-cols: 2;
	   --row-height:200px;
	}
}



/*Da color y tamaño a la seccion del nav*/
#uno{
	width: 100%;
	height: 50px;
	background-color: #110973 ;
	border-radius: 15%;
}

#aside{
	font-family: arial;
	margin: 30px 20px ;
	width: 90%;
	height: 300px;
	background-color: rgb(0, 0, 255);
	
	
}
/*Da estructura y tipo de lista el contenido del nav*/
nav ul{
	width: 100%;
	list-style-type: none;
	text-align: center;

}

nav li{
	display: inline-flex;
}

nav a{

	color: white;
	padding: 10px;
	width: 150px;
}

p{ /*Da el estilo de texto a todos los formatos "p"*/
	font-family:"Times New Roman", Times, serif;
	

}

footer{ /*Da  tamaño y color al pie de pagina*/
	width: 100%;
	height: 200px;
	background-color: #8797 ; 
}

#map{ /*Tamaño del mapa*/
	width: 250px;
	height: 150px;
	margin: 50px;
	position: absolute(right) ;
}

#f{
	text-align: center;
}

#foto{
	background-color:wh ;
	
}

section{ /*da orden a el contenido de la cabecera*/
	display: inline-flex;
}

*{box-sizing:border-box;}

		.container{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
		}

		.social{
			/*las imágenes usadas tienen width de 48px*/
			width:48px;
			position:fixed;
			top:50px;
			right:0;
		}

		/* Extra centrado vertical*/

		.social{
			/*border:1px solid #000;*/
			top:50%;
			height:205px;
			/*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
			margin-top:-100px;
		}